---
import Window from "../../components/home/Window/Window.astro";
---

<Window
  title="Authors"
  id="authors-window"
  canMinimize={false}
  canMaximize={false}
  canClose={true}
>
  <h3 class="sr-only">Authors</h3>
  <ul
    class="flex flex-col sm:flex-row gap-2 sm:gap-6 list-none text-[#2c3e50] text-sm sm:text-base"
  >
    <li class="font-semibold">Coded by III-ACSAD:</li>
    <li
      class="hover:text-[#0054e3] transition-colors cursor-pointer hover:underline"
    >
      Baluyut
    </li>
    <li
      class="hover:text-[#0054e3] transition-colors cursor-pointer hover:underline"
    >
      Siazon
    </li>
    <li
      class="hover:text-[#0054e3] transition-colors cursor-pointer hover:underline"
    >
      Villarosa
    </li>
  </ul>
</Window>
