<button
  id="xp-start-btn"
  class="cursor-pointer h-8 px-2.5 bg-gradient-to-b from-[#4caf50] to-[#388e3c] rounded-sm border border-[#81c784] flex items-center gap-1 hover:from-[#66bb6a] hover:to-[#4caf50] transition-colors group"
  aria-label="Open Start Menu"
  type="button"
>
  <div class="w-5 h-5 rounded-sm mr-0.5">
    <img src="/xp-btn-logo.png" alt="XP Start" />
  </div>
  <strong class="text-slate-100 text-lg font-display italic">Start</strong>
</button>

